<div class="page">
  <div class="page-body">
    <div class="container-xl">
      <form class="card">
        <div class="card-header">
          <div class="card-title">Todo Management</div>
          <div class="card-actions">
            <button
              pButton
              (click)="addTodo()"
              type="button"
              icon="pi pi-plus-circle"
              class="p-button-success"></button>
          </div>
        </div>

        @if (todos.length > 0) {
          <div class="card-body">
            <div [formGroup]="todoContainerForm">
              <ng-container formArrayName="todos">
                @for (todo of todos.controls; track $index) {
                  <div class="flex border-round mb-3">
                    <p-inputGroup>
                      <p-inputGroupAddon>
                        <p-checkbox
                          [formControl]="todo.controls.isCompleted"
                          [id]="idResolver('isCompleted', $index)"
                          [binary]="true"
                          pTooltip="Mark as completed"
                          tooltipPosition="top" />
                      </p-inputGroupAddon>
                      <input
                        pInputText
                        [formControl]="todo.controls.title"
                        [id]="idResolver('title', $index)"
                        type="text"
                        placeholder="Write something..." />
                      <button
                        pButton
                        (click)="deleteTodo($index)"
                        type="button"
                        icon="pi pi-trash"
                        class="p-button-danger"></button>
                    </p-inputGroup>
                  </div>
                }
              </ng-container>
            </div>
          </div>
        }
      </form>
    </div>
  </div>
</div>
