<div class="page">
  <div class="page-body">
    <div class="container-xl">
      <form class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <div class="card-title">Todo Management</div>
            </div>
          </div>
          <div class="card-actions">
            <div class="btn-list">
              @if (todos.length > 1) {
                <button
                  [disabled]="!canSort() || !todos.valid"
                  (click)="sortTodos()"
                  ngbTooltip="Sort by completion"
                  placement="left"
                  triggers="hover"
                  type="button"
                  class="btn btn-primary btn-icon">
                  <i class="ti ti-arrows-up-down icon"></i>
                </button>
              }
              <button
                (click)="addTodo()"
                [disabled]="!todos.valid"
                type="button"
                class="btn btn-success btn-icon">
                <i class="ti ti-plus icon"></i>
              </button>
            </div>
          </div>
        </div>

        @if (todos.length > 0) {
          <div class="card-body">
            <div [formGroup]="todoContainerForm">
              <ng-container formArrayName="todos">
                @for (todo of todos.controls; track todo.controls.id) {
                  <div class="input-group mb-3">
                    <span class="input-group-text">
                      <input
                        [id]="idResolver('isCompleted', todo.controls.id.getRawValue())"
                        [formControl]="todo.controls.isCompleted"
                        type="checkbox"
                        class="form-check-input m-0" />
                    </span>
                    <input
                      [id]="idResolver('title', todo.controls.id.getRawValue())"
                      [formControl]="todo.controls.title"
                      type="text"
                      class="form-control"
                      autocomplete="off" />
                    <button
                      (click)="deleteTodo($index)"
                      class="btn btn-danger btn-icon"
                      type="button">
                      <i class="ti ti-trash icon"></i>
                    </button>
                  </div>
                }
              </ng-container>
            </div>
          </div>
        }
      </form>
    </div>
  </div>
</div>
