<div class="page">
  <div class="page-body">
    <div class="container-xl">
      <form class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <div class="card-title">Todo Management</div>
            </div>
          </div>
          <div class="card-actions">
            <div class="btn-list">
              @if (todos.length > 1) {
                <button
                  [disabled]="!todos.valid"
                  (click)="sortTodos()"
                  type="button"
                  class="btn btn-primary btn-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-arrows-sort">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 9l4 -4l4 4m-4 -4v14" />
                    <path d="M21 15l-4 4l-4 -4m4 4v-14" />
                  </svg>
                </button>
              }
              <button
                (click)="addTodo()"
                [disabled]="!todos.valid"
                type="button"
                class="btn btn-success btn-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M12 5l0 14" />
                  <path d="M5 12l14 0" />
                </svg>
              </button>
            </div>
          </div>
        </div>

        @if (todos.length > 0) {
          <div class="card-body">
            <div [formGroup]="todoContainerForm">
              <ng-container formArrayName="todos">
                @for (todo of todos.controls; track todo.controls.id) {
                  <div class="input-group mb-3">
                    <span class="input-group-text">
                      <input
                        [id]="idResolver('isCompleted', todo.controls.id.getRawValue())"
                        [formControl]="todo.controls.isCompleted"
                        ngbTooltip="Toggle status"
                        placement="top-left"
                        triggers="hover"
                        type="checkbox"
                        class="form-check-input m-0" />
                    </span>
                    <input
                      [id]="idResolver('title', todo.controls.id.getRawValue())"
                      [formControl]="todo.controls.title"
                      type="text"
                      class="form-control"
                      autocomplete="off" />
                    <button
                      (click)="deleteTodo($index)"
                      class="btn btn-danger btn-icon"
                      type="button">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 7l16 0" />
                        <path d="M10 11l0 6" />
                        <path d="M14 11l0 6" />
                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                      </svg>
                    </button>
                  </div>
                }
              </ng-container>
            </div>
          </div>
        }
      </form>
    </div>
  </div>
</div>
